<div id="tfheader">
    <form id="tfnewsearch" method="post" action="requests/search">
            <input type="text" class="tftextinput" name="q" size="21" maxlength="120">
            <input type="submit" value="Search" class="tfbutton">
    </form>
  <div class="tfclear"></div>
  </div>
<div class="employee_index">
<h2> All Employees List </h2>
<table class="employeeslisting" border = "1">
<tr class="header">
<th> Employee Id </th>
<th> First Name </th>
<th> Last Name </th>
<th> Contact Number </th>
<th> Email Id </th>
<th> Actions </th>
</tr>
<% @employee.each do |employee| %>
<tr>
<td> <%= employee.id %> </td>
<td> <%= employee.first_name %> </td>
<td> <%= employee.last_name %> </td>
<td> <%= employee.contact_number %> </td>
<td> <%= employee.email_id %> </td>
<td> <%= link_to("Show", {:action => 'show', :id => employee.id}, :class => 'action_show') %>
	 <%= link_to("Edit", {:action => 'edit', :id => employee.id}, :class => 'action_update') %>
     <%= link_to("Delete", {:action => 'delete', :id => employee.id}, :class => 'action_delete') %>
</td>
</tr>
<% end %>
</table>
</div>


	